    .body {
        background-image: radial-gradient(circle at 47.82% 74.95%, #65f8a5 0, #4bf6a9 25%, #1df3ad 50%, #00f0b2 75%, #00eeb7 100%);
    }

    label {
        font-size: xx-large;
    }

    #title {
        margin-top: 100px;
        width: 50%;
        padding: 50px;
        font-size: xx-large;
        text-decoration-style: solid;
        align-items: center;
    }

    #inputs {
        margin-bottom: 200px;
        margin-top: 5%;
        width: 50%;
        padding: 5px;
        box-sizing: border-box;
        justify-content: center;
    }

    #exempleNumber {
        cursor: pointer;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4), inset 0px 4px 4px rgb(0, 0, 0, 0.25);
        padding: 2%;
        height: 7vh;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #exempleNumber:hover {
        cursor: pointer;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4), inset 0px 4px 4px rgb(0, 0, 0, 0.25);
    }

    #diaDoMes {
        cursor: pointer;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4), inset 0px 4px 4px rgb(0, 0, 0, 0.25);
        padding: 2%;
        height: 7vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #diaDoMes:hover {
        cursor: pointer;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4), inset 0px 4px 4px rgb(0, 0, 0, 0.25);
    }

    button {
        margin-top: 50px;
    }